@import "variables/variables";

.dialog {
	background-color: $color-white;
	min-width: 100%;
	height: 100%;

	position: relative;
	top: $menu-height;
	left: 0;
	box-shadow: 0 0 15px 0 $color-black ;

	.auth-failed-label {
		display: none;
		font-size: 16px;
		color: $color-red;

		&.show {
			display: block;
		}
	}

	@include breakpoint-small {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 500px;
		width: 500px;
		height: auto;
	}

	.accent {
		position: relative;
		box-sizing: border-box;
		align-items: center;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 55px;
		background-color: $color-blue;
		color: $color-white;
		padding: 0 20px;
		font-size: 25px;

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;

		&.accent-error {
			background-color: $color-error;
		}

		.dialog-icon {
			color: $color-white;
			font-size: 25px;
			font-weight: 900;
			padding: 0;
		}
	}

	.dialog-content-container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;

		.dialog-content-illustration {
			display: none;
			width: 100px;
			min-width: 100px;
			height: auto;
			align-items: center;
			padding: 20px;

			@include breakpoint-small {
				display: block;
			}

			div svg {
				max-width: 100%;
				fill: gray;
			}
		}

		.dialog-content {
			width: 100%;
			padding: 20px 20px 0 20px;
			font-size: 30px;
			text-align: left;

			@include breakpoint-small {
				display: block;
				font-size: 25px;
			}

			form {
				label {
					display: flex;
					width: 100%;
					flex-direction: column;
					align-items: flex-start;
					transform: translate(10px, 42px);
					transform-origin: 0px 0px;
					transition: all 0.15s linear;
					pointer-events: none;
					font-size: 20px;

					&.above {
						transform: translate(10px, 30px) scale(0.75);
						color: $color-blue;
					}
				}
				input {
					width: 100%;
					height: 60px;
					font-family: 'Roboto Condensed', sans-serif;
					font-size: 20px;
					padding: 10px 10px 0 10px;
					-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
					-moz-box-sizing: border-box;    /* Firefox, other Gecko */
					box-sizing: border-box;         /* Opera/IE 8+ */
					background-color: $color-gray-light;

					&:focus {
						background-color: $color-gray;
					}
				}
			}
		}
	}

	.dialog-footer {
		box-sizing: border-box;
		width: 100%;
		text-align: right;
		background-color: transparent;
		align-items: center;
		padding: 20px;

		button {
			font-size: 20px;
			padding: 10px;
			background: $color-gray-light;
			border-radius: 3px;
			transition: background-color 0.15s linear;

			&:hover {
				background: $color-gray;
			}
		}
	}
}