// Base colors
$color-white: #ffffff;
$color-black: #000000;
$color-red: #ff0000;
$color-gray: #dddddd;
$color-gray-light: #eeeeee;

// Other colors
$color-overlay: rgba($color-black, 0.5);
$color-error: $color-red;
$color-button-background: $color-red;